<!DOCTYPE html>
html
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <link rel="shortcut icon" href="/maids/favicon.ico" />
  script(href="https://yastatic.net/jquery/3.3.1/jquery.min.js")
  head
    meta( name='viewport', content='width=device-width, initial-scale=1 shrink-to-fit=no'  )
    title Megami
  body
    ul.nav.justify-content-center
      li.nav-item
        a.nav-link.active.text-danger(href="/") Main
      li.nav-item
        a.nav-link Another Link
    p.text-uppercase.font-weight-light.text-center.text-dark megami
      plain.text-uppercase.font-weight-light.text-center.text-danger .red
    img(src="../images/maids.jpg", class="img-fluid")
    .container-fluid
        .card-group.my-3
          .card.mx-3.shadow.p-3.mb-5.bg-white.rounded
            img(src="../images/cardmaid.jpg" class="rounded mx-auto d-block" height="300px")
            .card-body
              h5.card-title.text-truncate #{data.nickname}
              p.card-text.my-1 #{data.fullName.firstName} #{data.fullName.secondName}
              a.active.my-1(href='https://vk.com/' + data.links.vk) VK
              p.card-text.my-1 Discord: #{data.links.discord}
              p.card-text.my-1 Статус: 
                plain.text-success.font-weight-light #{data.seasonStatus.current} с 
                  plain.text-muted #{data.seasonStatus.lastUpdated}
              p.card-text.my-1 Страйки:
              each strike in data.seasonStatus.strikes
                plain.text-muted #{strike + ", "}
              a.btn.btn-outline-danger.mt-3.mx-1 Fuck you
              a.btn.btn-outline-success.mt-3.mx-1 No, Fuck you